@model IEnumerable<Category>

    <ul>


        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }

    </ul>
    <div asp-validation-summary="All"></div>
    <div asp-model="" asp-xxx="" ></div>